* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

li {
    list-style: none;
}


header {
    height: 50px;
    text-align: center;
    padding: 4px;
    color: white;
    background-color: rgb(22, 21, 21);

}

.navbar {
    background-color: black;
    padding:10px;
    height: 45px;
    align-items: center; 
    justify-content: space-between; 
    display: flex;  
}

.navbar_links { 
    display:flex;
    padding:0 10px;
    
}
.navbar_link > a { 
    color:white;
    text-decoration:none;
    padding-left: 9px;
}

.sec1 {
    background-color: rgb(22, 21, 21);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100vh;

}

footer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.name {
    color: white;
    align-items: flex-end;
    display: flex;
    justify-content: left;
    width: 30%;
}

.credits {
    color: white;
    align-items: flex-end;
    display: flex;
    justify-content: right;
    width: 25%;
}

.basic_front {
    display: flex;
    flex-wrap: wrap;
}

.basic_front div {
    border: 1px solid white;
}

.content-first-row {
    width : calc(100%/3);
    background-color: black;
    display: flex;
    text-align: center;
    color: white;
    padding: 1%;
    margin-bottom: 1%;
}

.content-second-row {
    width : calc(100%/2);
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    color: white;
    padding: 1%;
}


@media screen and (max-width: 800px) {

    header {
        width: 100%;
        height: 60px;
    }

    .navbar {
        width: 100%;
        height: 80px;
        font-size: 30px;
    }

    .basic_front {
        width: 100%;
        flex-direction: column;
    }
    
    .basic_front div{
            border: 1px solid white;
    }

    .content-first-row {
        width : calc(100%/3);
        padding-left: 40px;
        padding-right: 25px;
        font-size: 25px;
        margin-left: 50px;
        
    }

    .content-second-row {
        width: calc(100%/2);
        padding-left: 40px;
        padding-right: 25px;
        font-size: 25px;
        margin-left: 50px;
    }
}

/* FLEXBOX TUTO ---------------------------------------------- */
a {
    text-decoration: none;
    color: inherit;
}

main{
    background-color: rgb(22, 21, 21);
    height: 100%;
    padding-top: 10px;
    padding-left: 15px;
}

main h2 {
    text-align: center;
}
.flex_tuto_section {

    margin: 20px;
    border: 1px solid #575757;
}

.title_section {
    border-bottom: 1px solid #575757;
    width: 100%;
    padding: 20px;
}

.flex_tuto_item {
    padding: 10px;
    font-family: sans-serif;
}
.flex_tuto_item ul {
    padding-left: 20px;
}
.key-word {
    background-color: #555555; 
    border-radius: 2px; 
    padding: 0px 4px; 
    color: #d16033;
}

.key-word-arg {
    background-color: #555555; 
    border-radius: 2px; 
    padding: 0px 4px; 
    color: #33d1d1;
}


.example_container {
    display: flex;
    width: 100%;
}

.main_axis {
    border: 1px solid #d16033;
    width: 60px;
    height: 60px;
    margin: 10px;
}