main {
    display: flex;
    flex-wrap: wrap;
}

.green {
    background: green;
}
.red {
    background: red;
}
.orange {
    background: orange;
}
.blue {
    background: blue;
}
.yellow {
    background: yellow;
}

.red, .orange, .yellow {
    width: calc(100%/3);
    flex-wrap: nowrap;
}

.green, .blue {
    width: calc(100%/2);
}

ul.top{
    display: flex;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ending {
    width: calc(25%);
    background: aquamarine;
    align-items: flex-end;
}

.mention {
    width: calc(30%);
    background: blueviolet;
    align-items: flex-end;
}