
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}


.header {
    height: 50px;
    text-align: center;
    padding: 4px;
    color: white;
    background-color: rgb(22, 21, 21);

}


.navbar {
    background-color: black;
    padding:10px;
    height: 45px;
    align-items: center; 
    justify-content: space-between; 
    display: flex;  
}

.navbar_links { 
    display:flex;
    padding:0 10px;
    
}
.navbar_link > a { 
    color:white;
    text-decoration:none;
    padding-left: 9px;
}

.sec1 {

    background-color: rgb(22, 21, 21);
    height: 630px;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;


}

.footer {
    background-color: black;
    height: 65px;
    display: flex;
}

.name {
    color: white;
    padding: 11px;
    align-items: center;
    justify-content: right;
    display: flex;
}

.credits {
    color: white;
    padding-left: 11px;
    align-items: center;
    justify-content: left;
    display: flex;
    margin-left: 1279px;
    
}


.contenu1 {
    height: 200px;
    width: 400px;
    background-color: black;
    margin-left: 10px;
    border: 3px solid rgb(32, 31, 31);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    padding-top: 35px;
    
    
    
    
}



.contenu2 {
    height: 200px;
    width: 400px;
    background-color: black;
    margin-left: 15px;
    border: 3px solid rgb(32, 31, 31);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    padding-top: 35px;
    
    
}


.contenu3 {
    height: 200px;
    width: 400px;
    background-color: black;
    margin-left: 15px;
    border: 3px solid rgb(32, 31, 31);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    padding-top: 35px;
    
    
}

.contenu4 {
    height: 200px;
    width: 400px;
    background-color: black;
    margin-left: 10px;
    border: 3px solid rgb(32, 31, 31);
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
    color: white;
    padding-top: 35px;
    
    
}


.contenu5 {
    height: 200px;
    width: 400px;
    background-color: black;
    margin-left: 15px;
    border: 3px solid rgb(32, 31, 31);
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
    color: white;
    padding-top: 35px;
    
    
}


@media screen and (max-width: 800px) {

.header {
    width: 1100px;
    height: 60px;
}

.navbar {
    width: 1100px;
    height: 80px;
    font-size: 30px;
}

.sec1 {
    width: 1100px;
    height: 2060px;
    flex-direction: column;
    
}

.footer {
    width: 1100px;
    height: 120px;
}

.name {
    padding-left: 460px;
    font-size: 30px;
    
}

.contenu1 {
    width: 1030px;
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;
    
}

.contenu2 {
    width: 1030px;
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;
    
}

.contenu3 {
    width: 1030px;
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;
}

.contenu4 {
    width: 1030px;
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;
}

.contenu5 {
    width: 1030px;
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;
}




}