
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}


header {
    height: 50px;
    text-align: center;
    padding: 4px;
    color: white;
    background-color: rgb(22, 21, 21);

}

main {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.navbar {
    background-color: black;
    padding:10px;
    height: 45px;
    align-items: center; 
    justify-content: space-between; 
    display: flex;  
}

.navbar_links { 
    display:flex;
    padding:0 10px;
    
}
.navbar_link > a { 
    color:white;
    text-decoration:none;
    padding-left: 9px;
}

.sec1 {

    background-color: rgb(22, 21, 21);

    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;


}

footer {
    width: calc(100%);
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.name {
    color: white;
    align-items: flex-end;
    display: flex;
    justify-content: left;
    width: calc(30%);
}

.credits {
    color: white;
    align-items: flex-end;
    display: flex;
    justify-content: right;
    width: 25%;
}


.contenu1, .contenu2, .contenu3, .contenu4, .contenu5 {
    border: 1px solid white;
}

.contenu1 {
    width : calc(100%/3);
    background-color: black;
    display: flex;
    text-align: center;
    color: white;
    padding: 1%;
    margin-bottom: 1%;
}



.contenu2 {
    width : calc(100%/3);
    background-color: black;
    display: flex;
    text-align: center;
    color: white;
    padding: 1%;
    margin-bottom: 1%;
}


.contenu3 {
    width : calc(100%/3);
    background-color: black;
    display: flex;
    text-align: center;
    color: white;
    padding: 1%;
    margin-bottom: 1%;
}

.contenu4 {
    width : calc(100%/2);
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    color: white;
    padding: 1%;
    
}


.contenu5 {
    width : calc(100%/2);
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    color: white;
    padding: 1%;
}


@media screen and (max-width: 800px) {

header {
    width: 100%;
    height: 60px;
}

.navbar {
    width: 100%;
    height: 80px;
    font-size: 30px;
}

.sec1 {
    width: 100%;
    flex-direction: column;

}
    .contenu1, .contenu2, .contenu3, .contenu4, .contenu5 {
        border: 1px solid white;
    }

.contenu1 {
    width : calc(100%/3);
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;

    margin-left: 50px;
    
}

.contenu2 {
    width : calc(100%/3);
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;

    margin-left: 50px;
}

.contenu3 {
    width : calc(100%/3);
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;

    margin-left: 50px;
}

.contenu4 {
    width : calc(100%/2);
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;

    margin-left: 50px;
}

.contenu5 {
    width: calc(100%/2);
    padding-left: 40px;
    padding-right: 25px;
    font-size: 25px;

    margin-left: 50px;
}




}